// CONTENT
$color-body-bg: #f9f7f5;
$color-text: #303133;
$color-heading-text: #35495e;

// LINKS
$color-link-text: #39a275;
$color-link-text-active: $color-text;

// INPUTS
$color-input-border: lighten($color-heading-text, 50%);

// BUTTONS
$color-button-bg: $color-link-text;
$color-button-disabled-bg: darken(desaturate($color-button-bg, 20%), 10%);
$color-button-text: white;

$theme-color: #0386ac;
$error-color: #f56c6c;
$theme-common-bolder: 1px solid #ebeef5;
$theme-gray-color: #999;

$red-color: red;
$value-blue: #0386ac;
$border-color: #dcdfe6;

$success-color: #67c23a;
$danger-color: #f56c6c;

$white-color: #fff;
$gray-color: #ccc;
$font-gray-color: rgba(0, 0, 0, 0.54);
$disabled-color: #cfd8dc;
$spinner-background-color: rgb(33, 33, 33);

// $transparent-four-color: rgba(255, 255, 255, 0.4);
// $transparent-half-color: rgba(255, 255, 255, 0.5);
$transparent-six-color: rgba(255, 255, 255, 0);
// $transparent-seven-color: rgba(255, 255, 255, 0.7);

$transparent-four-color: #fff;
$transparent-half-color: #fff;
// $transparent-six-color: #fff;
$transparent-seven-color: #fff;
